@charset "utf-8";

$primary-color: #242f9b;
$error-color: #ff3333;
$font-color: #555555;
$button-width: 80px;
$button-height: 40px;
$border-radius: 5px;

.edit-task {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  &-form {
    color: $font-color;
  }

  &-title,
  &-detail {
    width: 100%;
    max-width: 300px;
    margin-bottom: 25px;
  }

  &-detail {
    height: 200px;
    overflow: auto;
  }

  .delete-task-button,
  .edit-task-button {
    width: 100%;
    max-width: $button-width;
    height: $button-height;
    border-radius: $border-radius;
    margin: 10px 0;
  }

  .delete-task-button {
    color: $error-color;
    border: solid 1px $error-color;
  }

  .edit-task-button {
    background-color: $primary-color;
    color: #ffffff;
  }

  .error-message {
    color: $error-color;
  }
}

@media (max-width: 768px) {
  .edit-task {
    padding: 15px;

    &-title,
    &-detail {
      max-width: none;
    }
  }
}

@media (max-width: 320px) {
  .edit-task {
    padding: 10px;
  }
}
