@charset "utf-8";

$primary-color: #242f9b;
$font-color: #555555;

.new-list {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  &-form {
    color: $font-color;
  }

  &-title {
    width: 100%;
    max-width: 300px;
    margin-bottom: 25px;
  }

  &-button {
    background-color: $primary-color;
    color: #ffffff;
    width: 100%;
    max-width: 80px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .new-list {
    padding: 15px;

    &-title,
    &-button {
      max-width: none;
    }
  }
}

@media (max-width: 320px) {
  .new-list {
    padding: 10px;
  }
}
